<%- include('partials/header') %>

<div class="container">
    <div class="container mt-5">
        <div class="col-5 mx-auto ">
            <form>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Email address</label>
                <input type="email" id="form2Example1" class="form-control" />
            </div>
        
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" />
            </div>
        
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-block" id="signupBtn">Sign Up</button>
                <br>   <br>  
                <p>Not a member? <a href="/signup">Register</a></p>
            </div>
        </form>
    </div>
</div>
</div>

<div style="position: fixed;
width: 100%;bottom: 0;"><%- include('partials/footer') %>
</div>